bin/
build/
.project
.classpath
.settings/*
.gradle
.idea
*.class
.DS_Store
hs_err_pid*
old
log.txt

gradle/bintrayUpload.gradle
gradle/installGitHooks
gradle/master.gradle
gradle/spotless.gradle
codeformat.eclipse.xml
